@charset "UTF-8";

@font-face {
    font-family: 'Bohemian';
    src: url('Bohemian Soul.otf') format('opentype');
}

@font-face {
    font-family: 'caviar';
    src: url('CaviarDreams_Bold.ttf') format('truetype'), url('CaviarDreams.ttf') format('truetype');
}

h1 {
    font-family: 'Bohemian';
    color: #86A69D;
    text-align: center;
    font-size: 3.5em;
}

h2 {
    font-family: 'caviar';
    font-weight: bolder;
}