@charset "UTF-8";

* {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    color: #000000;
}

body {
    background-image: linear-gradient(to top, #b6b6b6, #ffffff);
    background-attachment: fixed;
}

h2 {
    color: #024959;
}
